.card {
  width: 69px;
  height: 100px;
  display: inline-block;
  margin-left: -50px !important;
  border-radius: 4px !important;
}

.player-hand-container .hand{
  top: 322px;
  left: 515px;
}

.dealer-hand-container .hand{
  top: 85px;
  left: 500px;
}

.hand {
  display: inline-block;
  position: absolute;

}

.table {
  height: 600px;
  position: absolute;
  z-index: -1000;
}

.card img {
  position: absolute;
  height: 100px;
  width: auto;
  border: 1px solid black;
  border-radius: 3px;
}

body {
  margin: 0 !important;
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

.hit-button, .stand-button, .double-button {
  top: 530px;
  left: 445px;
  margin-right: 10px;
}

.deal-button {
  top: 530px;
  left: 477px;
}

.score-text {
  margin: 10px 0 10px -35px;
  font-family: 'Righteous', cursive;
  font-size: 30px;
  -webkit-text-stroke: 1px white;
}

.result-button {
  display: none !important;
}

.modal {
  width: 300px !important;
  top: 200px !important;
  height: 140px !important;
  padding-bottom: 0 !important;
}

.modal-content {
  padding-bottom: 10px !important;
}

.chip {
  position: absolute;
  height: 36px;
  width: 47px;
}

.chip-040 {
  top: 455px;
  left: 60px;
  
}
.chip-1 {
  top: 482px;
  left: 110px;
  
}
.chip-4 {
  top: 496px;
  left: 162px;
  
}
.chip-10 {
  top: 508px;
  left: 214px;
  
}
.chip-20 {
  top: 518px;
  left: 267px;
}

.chip-holder {
  position: absolute;
}

.betAmount {
  top: 410px;
  left: 100px;
  -webkit-text-stroke: 1px white;
}
.bank {
  top: 560px;
  left: 5px;
  color: #1E851B;
  -webkit-text-stroke: 1px silver;
}

.money {
  position: absolute;
  font-family: 'Righteous', cursive;
  font-size: 30px;
  height: 50px;
  width: 300px;
}

.dealer-score {
  margin-left: -50px;
}

.player-score {
  margin-left: -60px;
}